@using Orchard.Settings;
@using Lombiq.SmartNotifications.Models;
@using Orchard.ContentManagement;
@using Piedone.HelpfulLibraries.Utilities;
@using Lombiq.SmartNotifications.Services;
@using Lombiq.SmartNotifications;
@{
    Script.Require("jQuery").AtFoot();
    Style.Include("lombiq-smartnotifications-style.css");

    var siteService = WorkContext.Resolve<ISiteService>();
    var notificationService = WorkContext.Resolve<INotificationManager>();
    var settings = siteService.GetSiteSettings().As<SmartNotificationsPart>();
    var url = Url.HttpRouteUrl("", new { httproute = true, area = "Lombiq.SmartNotifications", controller = "StickyNotification" });
    var message = @Html.Raw(Html.Encode(Model.Message)).ToString();
    var notificationId = "";
    if(message.StartsWith(Constants.Sticky))
        notificationId = Model.Message.ToString().Substring(Constants.Sticky.Length, (Model.Message.ToString().IndexOf("@") - Constants.Sticky.Length));
    var makeAllNotificationsClosable = settings.MakeAllNotificationsClosable || message.StartsWith(Constants.Closable);
    var makeAllNotificationsFading = settings.MakeAllNotificationsFading || message.StartsWith(Constants.Fading);
    var makeAllNotificationsSticky = settings.MakeAllNotificationsSticky || message.StartsWith(Constants.Sticky);
    var htmlMessage = Html.Raw(Html.Encode(Model.Message).Replace(Environment.NewLine, "<br />").Replace(Constants.Closable, "").Replace(Constants.Fading, ""));
}
@if (makeAllNotificationsSticky)
{
    if (message.StartsWith(Constants.Sticky))
    {
        <div data-id="@notificationId" class="message message-@Model.Type">@htmlMessage.ToString().Substring(Model.Message.ToString().IndexOf("@") + 1) <span class='close-message'>&#10006;</span></div>
    }
}
else
{
    <div class="message message-@Model.Type">@htmlMessage @if (makeAllNotificationsClosable) {<span class='close-message'>&#10006;</span> }</div>
}
@if (this.WasNotDisplayed("messageJS"))
{
    using (Script.Foot())
    {
        if (makeAllNotificationsSticky)
        {
            <script type="text/javascript">
                (function ($) {
                    $(function () {
                        var uri = "@url" + "/";
                        $(".message > span.close-message").click(function () {
                            if ($(this).parent().attr("data-id") != null) {
                                $.ajax({
                                    url: uri + $(this).parent().attr("data-id"),
                                    type: 'DELETE',
                                    success: function (result) {
                                        console.log(result);
                                    }
                                });
                            }
                            $(this).parent().hide();
                        });
                        @if(settings.MakeAllNotificationsFading) {
                        <text>setTimeout(function () { $('.message').fadeOut(2000) }, 5000);</text>
                    }
                    });
                }
                )(jQuery);
            </script>
        }
        else
        {
            <script type="text/javascript">
                (function ($) {
                    $(function () {
                        $(".message > span.close-message").click(function () {
                            $(this).parent().hide();
                        });
                        @if (settings.MakeAllNotificationsFading) {
                            <text>setTimeout(function () { $('.message').fadeOut(2000) }, 5000);</text>
                        }
                    });
                })(jQuery);
            </script>
        }
    }
}