@using Orchard.Settings;
@using Lombiq.SmartNotifications.Models;
@using Orchard.ContentManagement;
@{
    Script.Require("jQuery").AtHead();
    var siteService = WorkContext.Resolve<ISiteService>();
    var settings = siteService.GetSiteSettings().As<SmartNotificationsPart>();
    string message = Model.Message.ToString();
}
@if ((settings.isClosable || message.Contains("\\CLO:\\")) && (settings.isFading || message.Contains("\\FAD:\\")))
{
    <div class="message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />").Replace("\\CLO:\\","").Replace("\\FAD:\\",""))<span id='closeMessage' style="float: right; display: inline-block;">X</span></div>
}
else
{
    if (settings.isClosable || message.Contains("\\CLO:\\"))
    {
        <div class="message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />").Replace("\\CLO:\\", "").Replace("\\FAD:\\", ""))<span id='closeMessage' style="float: right; display: inline-block;">X</span>
</div>
    }
    else if (settings.isFading || message.Contains("\\FAD:\\"))
    {
        <div class="message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />").Replace("\\CLO:\\", "").Replace("\\FAD:\\", ""))</div>
    }
    else if (!settings.isFading && !settings.isClosable)
    {
        <div class="message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />"))</div>
    }

}

<script>
    $(document).ready(function(){    
        $("#closeMessage").click(function () {
            $(".message").hide();
        });
        @if(settings.isFading)
        {
            <text>
                setTimeout(function () { $('.message').fadeOut(1000) }, 5000);
            </text>
        }
        
    });
</script>

