@model Lombiq.SmartNotifications.Models.SmartNotificationsPart
<fieldset>
    <legend>@T("Notification settigs")</legend>
    <div>
        @Html.CheckBoxFor(x => x.isClosable, new { @checked = "checked" })
        @Html.CheckBoxFor(x => x.isFading, new { @checked = "checked" })
        
    </div>
</fieldset>

